body{
  font-family: "Archivo", sans-serif;
  background-color: #0F172A;
  margin: 0px;
  padding: 20px;
  padding-bottom: 80px;
  color: #F1F5F9;
}
/*^^^^^^^^^^^^^^^^^^^^^^^^^HEADER^^^^^^^^^^^^^^^^^^^^^^^^*/
header{
  display: flex;
  flex-direction: column;
}
#headerone{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
}
#headericons{
  display: flex;
  gap: 20px;
}
#title{
  color: #60A5FA;
  font-size: 24px;
  font-weight: 400px;
  font-family: "Archivo Black", sans-serif;
}

#headertwo{
  border-bottom: solid 0.5px rgba(128, 128, 128, 0.377);
  border-top: solid 0.5px rgba(128, 128, 128, 0.377);
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 600;
  color: #CBD5E1;
}
/*^^^^^^^^^^^^^^^^^^^^^^^^^HEADER^^^^^^^^^^^^^^^^^^^^^^^^*/

/*^^^^^^^^^^^^^^^^^^^^^^^^^MAIN^^^^^^^^^^^^^^^^^^^^^^^^*/
main{
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
  /*^^^^^^^^^^^^^^^^^^^^^^^^^MAIN_HIGHLIGHT^^^^^^^^^^^^^^^^^^^^^^^^*/
  #highlight{
    display: grid;
    grid-template-columns: 50% 1fr 1fr;
    grid-template-rows: repeat(2, 208px);
    column-gap: 16px;
    row-gap: 16px;
    justify-content: space-between
  }
  #highlight p, h2, h4{
    margin: 4px;
  }
  #highlight p{
    font-size: 10px;
    font-weight: 500;
    background-color: #1D4ED8;
    padding: 4px 8px 4px 8px;
    border-radius: 4px;
    width: fit-content;
  }
  #robotica, #hologramas, #internet, #vestiveis, #realidade{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #robotica{
    background-image: url(./assets/images/Image01.png);
    grid-column: 1;
    grid-row: 1/3;
    align-content: end;
    padding-left: 24px;
    padding-bottom: 24px;
  }
  #hologramas, #internet, #vestiveis, #realidade{
    align-content: end;
    padding-left: 12px;
    padding-bottom: 12px;
    font-size: 14px;
    font-weight: 800;
  }
  #hologramas{
    background-image: url(./assets/images/Image02.png);
  }
  #internet{
    background-image: url(./assets/images/Image03.png);
  }
  #vestiveis{
    background-image: url(./assets/images/Image04.png);
  }
  #realidade{
    background-image: url(./assets/images/Image05.png);
  }
  /*^^^^^^^^^^^^^^^^^^^^^^^^^MAIN_HIGHLIGHT^^^^^^^^^^^^^^^^^^^^^^^^*/


  /*^^^^^^^^^^^^^^^^^^^^^^^^^MAIN_MOSTREAD^^^^^^^^^^^^^^^^^^^^^^^^*/
  #mostread{
    display: flex;
    flex-direction: column;
    /*column-gap: ;*/
  }
  #heading{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 12px;
    color: #CBD5E1;
    border-top: solid 0.5px rgba(128, 128, 128, 0.377);
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #gridfif{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px;
    column-gap: 16px;
    font-size: 16px;
    font-weight: 800;
  }
  #mrimages{
    display: grid;
    grid-template-columns: 50% 1fr 1fr;
    grid-template-rows: 300px;
    column-gap: 16px;
    font-size: 16px;
    font-weight: 800;
  }
  #news{
  display: grid;
  grid-template-rows: 200px 100px;
  grid-template-columns: 1fr;
  justify-content: space-between;
  
  }
  #mostread img{
    width: 100%;
    height: 200px;
  }
  
  /*^^^^^^^^^^^^^^^^^^^^^^^^^MAIN_MOSTREAD^^^^^^^^^^^^^^^^^^^^^^^^*/

  /*^^^^^^^^^^^^^^^^^^^^^^^^^MAIN_LASTNEWS^^^^^^^^^^^^^^^^^^^^^^^^*/
  #lltexts p{
    font-size: 10px;
    font-weight: 500;
    background-color: #1D4ED8;
    padding: 4px 8px 4px 8px;
    border-radius: 4px;
    width: fit-content;
  }
  #lltexts h2{
    font-size: 16px;
    font-weight: 800;
    color: #F1F5F9;
  }
  #lltexts h3{
    font-size: 14px;
    font-weight: 400;
    color: #CBD5E1;
  }
  #lltexts img{
    width: 176px;
    height: 176px;
  }
  #menu{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: solid 0.5px rgba(128, 128, 128, 0.377);
  }
  #lastnews{
    display: grid;
    grid-template-columns: 60% 1fr;/**/
    column-gap: 24px;
  }
  #lltexts{
    display: grid;
    grid-template-columns: 80% 1fr;
    grid-template-rows: repeat(4, 176px);
    row-gap: 16px;
  }
  #lltexts > img{
    /*select only the img childs from this main div*/
    justify-self: end;
  }
  #texts{
    display: flex;
    flex-direction: column;
  }
  /*^^^^^^^^^^^^^^^^^^^^^^^^^MAIN_LASTNEWS^^^^^^^^^^^^^^^^^^^^^^^^*/

  /*^^^^^^^^^^^^^^^^^^^^^^^^^MAIN_LASTRIGHT^^^^^^^^^^^^^^^^^^^^^^^^*/
  #txtright p{
    font-size: 10px;
    font-weight: 500;
    background-color: #1D4ED8;
    padding: 4px 8px 4px 8px;
    border-radius: 4px;
    margin: 0px;
    width: fit-content;
  }
  #txtright img{
    height: 72px;
    width: 72px;
  }
  #txtright h2{
    font-size: 12px;
  }
  #txtright p, h2{
    justify-self: center;
  }
  #txtright{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
  #gridone{
    display: grid;
    grid-template-columns: 72px 1fr;
    grid-template-rows: 72px 72px;
    column-gap: 16px;
    row-gap: 32px;
  }
  #gridone > div{
    align-content: center;
  }
  
  

  /*^^^^^^^^^^^^^^^^^^^^^^^^^MAIN_LASTRIGHT^^^^^^^^^^^^^^^^^^^^^^^^*/

/*^^^^^^^^^^^^^^^^^^^^^^^^^MAIN^^^^^^^^^^^^^^^^^^^^^^^^*/


